.doctor-sidebar {
    width: 240px;
    min-height: calc(100vh - 70px);

    background-color: #ffffff;
    border-right: 1px solid #e5e7eb;

    padding: 20px 12px;
    box-sizing: border-box;
}

.doctor-sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.doctor-menu-item {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 12px 15px;

    text-decoration: none;
    color: #555;

    border-radius: 8px;

    font-size: 15px;
    font-weight: 500;

    transition: 0.2s;
}

.doctor-menu-item:hover {
    background-color: #f3f4f6;
}

.doctor-menu-item.active {
    background-color: #e8f0fe;
    color: #2563eb;
}
.doctor-menu-item img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}